#multiple-timer-input-row{
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
}

.disabled-btn{
    outline: 0;
}

.multi-timer-output{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
}