#file-explorer-container {
    width: 400px;
    height: 100vh;
    background-color: gray;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 16px 4px;
    box-sizing: border-box;
}

.file-explorer-file-folder-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.file-explorer-folder-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.file-explorer-folder-item>div:first-child {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.file-explorer-folder-item>div:last-child {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.file-explorer-folder-item :hover {
    cursor: pointer;
}

.file-explorer-file-item {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.file-explorer-file-item :hover {
    cursor: pointer;
}

.col {
    display: flex;
    flex-direction: column;
}

.ml-16 {
    margin-left: 16px;
}